@model JXDevPlanner.Models.PlanItemCreate

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>PlanItemCreate</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control",id="NameIn" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="Category" class="control-label col-md-2">Category</label>
            <div class="col-md-10">
                <select class="form-control" id="Category" name="Category">
                    <option value="5" selected>Proposed</option>
                    <option value="4">Planned</option>
                    <option value="3">Promised</option>
                    <option value="2">Indev</option>
                    <option value="1">Working</option>
                    <option value="0">Stable</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Detail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Detail,new { @class = "form-control",id = "DetailIn" })
                @Html.ValidationMessageFor(model => model.Detail,"",new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

