@model JXDevPlanner.Models.ProjectDetail
@using Microsoft.AspNet.Identity.Owin
@using JXDevPlanner.Data;

@{
    ViewBag.Title = Model.Title;
}

<h2>Detail</h2>

<div>
    <h4>ProjectDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUTC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUTC)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit","Edit",new { id = Model.ProjectID }) |
    @Html.ActionLink("Back to List","Index")
</p>
<div>
    @*<iframe id="x" width="100%" height="100%"></iframe>
    <script>
        var k = "/PlanItem/Index/" +"@Model.ProjectID";
        x.contentDocument.location.href = k;
    </script>*@
    <table>
        <tr>
            <th>Name</th>
            <th>Created By</th>
        </tr>
        @foreach (var item in Model.PlanItems)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => modelItem.Title)</td>
            <td>@Html.DisplayFor(modelItem => modelItem.CreatorName)</td>
        </tr>
        }
    </table>
    @Html.ActionLink("Create New","Create","PlanItem",new { id = Model.ProjectID },new { })
</div>