@model JXDevPlanner.Models.ProjectDetail

@{
    ViewBag.Title = Model.Title;
}

<h2>Detail</h2>

<div>
    <h4>ProjectDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUTC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUTC)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit","Edit",new { id = Model.ProjectID }) |
    @Html.ActionLink("Back to List","Index")
</p>
<div>
    @*<iframe id="x" width="100%" height="100%"></iframe>
    <script>
        var k = "/PlanItem/Index/" +"@Model.ProjectID";
        x.contentDocument.location.href = k;
    </script>*@
    <div id="state_stable"></div>
    <div id="state_working"></div>
    <div id="state_indev"></div>
    <div id="state_planned"></div>
    <div id="state_promised"></div>
    <div id="state_proposed"></div>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Created By</th>
        </tr>
        @foreach (var item in new JXDevPlanner.Data.ApplicationDbContext().PlanItems.ToArray())
        {
        <tr>
            <td>@item.Name</td>
            <td>
                @(new JXDevPlanner.Data.ApplicationDbContext().Users.Where(e=>e == null?false:e.Id == item.CreatorID.ToString()).Single().UserName)
            </td>
            <td>
                @Html.ActionLink("Edit","EditById","PlanItem",new { id = item.PlanItemID },new { });
                @Html.ActionLink("Delete","Delete","PlanItem",new { id = item.PlanItemID },new { });
                @Html.ActionLink("Details","Details","PlanItem",new { id = item.PlanItemID },new { });
            </td>
        </tr>
        }
    </table>
    <a href="/Project/CreatePlanItem/?projectID=958484a1-d94a-4e46-8a25-099a2dd61a87">Create New</a>
    @*@Html.ActionLink("Create New","CreatePlanItem/%3fprojectID=" + Model.ProjectID,"Project",new { id = Model.ProjectID },new { })*@
</div>